[submodule "LumiRender/thirdparty/spdlog"]
	path = LumiRender/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LumiRender/thirdparty/cxxopts"]
	path = LumiRender/thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "LumiRender/thirdparty/jitify"]
	path = LumiRender/thirdparty/jitify
	url = https://github.com/NVIDIA/jitify.git
[submodule "LumiRender/thirdparty/assimp"]
	path = LumiRender/thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "LumiRender/thirdparty/embree"]
	path = LumiRender/thirdparty/embree
	url = https://github.com/embree/embree.git
